{% form_theme form '@OwlUi/Form/theme.html.twig' %}

{% import '@OwlUi/Macro/messages.html.twig' as messages %}

<div class="login-page-description">
{{ description|raw }}
</div>

<div class="ui middle aligned center aligned grid">
    <div class="column">
        {{ sylius_template_event('sylius.admin.login.before_form', {'form': form}) }}

        {% if paths.logo is defined %}
            <div style="max-width: 270px; margin: 0 auto; margin-bottom: 40px;">
                <img src="{{ asset(paths.logo) }}" class="ui fluid image" id="logo">
            </div>
        {% endif %}

        <div class="wrap-langs">
            <a class="{{app.request.locale == 'pl' ? 'active' : ''}}" href="{{ path('owl_admin_login', {_locale: 'pl'})  }}">
                PL
            </a>
            |
            <a class="{{app.request.locale == 'en' ? 'active' : ''}}" href="{{ path('owl_admin_login', {_locale: 'en'})  }}">
                EN
            </a>
        </div>

        {% if last_error %}
            <div class="ui left aligned basic segment">
                {{ messages.error(last_error.messageKey|trans(last_error.messageData, 'security')) }}
            </div>
        {% endif %}

        {{ form_start(form, {'action': action|default('/'), 'attr': {'class': 'ui large loadable form', 'novalidate': 'novalidate'}}) }}
            <div class="ui left aligned very padded segment">
                {{ form_row(form._username, {'value': last_username|default('')}) }}
                {{ form_row(form._password) }}
                <div class="field">
                    <div class="ui grid">
                        <div class="nine wide column">
                        {{ form_row(form._remember_me) }}
                        </div>
                        <div class="seven wide column" style="text-align: right;">
                            {% if actions_reset_password is defined %}
                            <a href="{{ path(actions_reset_password) }}" class="ui right aligned">{{ 'owl.ui.forgot_password'|trans }}</a>
                            {% endif %}
                            {% if actions_register is defined %}
                            <a href="{{ path(actions_register) }}" class="ui right aligned">{{ 'owl.ui.register'|trans }}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <input type="hidden" name="_csrf_admin_security_token" value="{{ csrf_token('admin_authenticate') }}">
                <button type="submit" class="ui fluid large primary submit button">{{ 'owl.ui.login'|trans }}</button>
            </div>

            {{ sylius_template_event('sylius.admin.login.form', {'form': form}) }}

        {{ form_end(form, {'render_rest': false}) }}
    </div>
</div>
